# Arquivos de máquinas virtuais (VMware)
*.vmdk
*.vmx
*.vmem
*.vmsd
*.vmsn
*.nvram
*.vmss
*.lck/

# macOS
.DS_Store

# Qiskit / Python
qiskit-env/
__pycache__/
*.pyc
.qiskit/
qiskit-ibm.json
*token*

# Arquivos do Cisco Packet Tracer (binários, subir só quando decidir)
*.pkt

